<!DOCTYPE html>
<html>
    <head>
        <title>myCinemaAdmin | updateTheatre</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h2>Update Theatre</h2>

        <span id="successfullStatus" th:if="${ok}" style="color: green;">Theatre updated.</span>
        <br th:if="${ok}"><br th:if="${ok}">

        <span id="errorStatus" th:text="${errorMessage} ?: ${errorMessage}" style="color: red;"></span>
        <br th:if="${errorMessage}"><br th:if="${errorMessage}">


        <form action="" th:action="@{/admin/theatre/update_getByNumber}" th:object="${theatre}">

            <input type="number" id="theatreNumber" name="theatreNumber" min="1" placeholder="Theatre number*" th:field="*{number}" required>
            <br><br>

            <input type="submit" id="submitUpdate" value="Update Theatre">
            <br><br>
        </form>
    </body>
</html>