<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>myCinemaAdmin | addMovie</title>
    </head>
    

    <body>
        <h2>Add Movie</h2>

        <span id="successfullStatus" th:if="${created}" style="color: green;">Movie created.</span>
        <br th:if="${created}"><br th:if="${created}">

        <span id="errorStatus" th:text="${errorMessage} ?: ${errorMessage}" style="color: red;"></span>
        <br th:if="${errorMessage}"><br th:if="${errorMessage}">
        
        
        <form method="post" action="" th:action="@{/admin/movie/addNew}" th:object="${movie}">
            <input type="text" id="title" name="title" placeholder="Title*" th:field="*{title}" required>
            <br><br>

            <input type="number" id="duration" name="duration" placeholder="Duration (minutes)*" th:field="*{duration}" required>
            <br><br>

            <input type="text" id="localReleaseDate" name="localReleaseDate" placeholder="Local release date*" onfocus="(this.type = 'date')" th:field="*{localReleaseDate}" required>
            <br><br>

            <input type="text" id="localFinishingDate" name="localFinishingDate" placeholder="Local finishing date*" onfocus="(this.type = 'date')" th:field="*{localFinishingDate}" required>
            <br><br>

            <textarea id="synopsis" name="synopsis" rows="5" cols="50" placeholder="Synopsis*" th:field="*{synopsis}" required></textarea>
            <br><br>

            <select id="fsk" name="fsk" required>
                <option th:value="null">Select FSK...</option>
                <span th:each="fsk : ${movieWrapper.fsk}">
                    <option th:text="${fsk}" th:value="${fsk}" th:field="*{fsk}"></option>
                </span>
            </select>
            <br><br>

            <select id="version" name="version" required>
                <option th:value="null">Select Version...</option>
                <span th:each="version : ${movieWrapper.version}">
                    <option th:text="${version}" th:value="${version}" th:field="*{version}"></option>
                </span>
            </select>
            <br><br>

            <input type="number" id="price" name="price" placeholder="Price*" th:field="*{price}" required>
            <br><br>

            <input type="text" id="director" name="director" placeholder="Director*" th:field="*{director}" required>
            <br><br>

            <span th:each="member, iter : ${movieWrapper.movieCast}">
                <input type="text" class="cast" name="cast" th:placeholder="${iter.index + 1 + '. Cast member*'}" th:field="${movieWrapper.movieCast[__${iter.index}__]}" required>
                <br>
            </span>
            <br>
            
            <label for="genres">Genres* (at least one): </label>
            <br>
            <span th:each="genre, iter : ${movieWrapper.genres}">
                <input type="checkbox" class="genres" name="genres" th:text="${genre}" th:field="${movieWrapper.toggledGenres[__${iter.index}__]}">
            </span>
            <br><br>

            <input type="text" id="trailerLink" name="trailerLink" placeholder="Trailer link*" th:field="*{trailerLink}" required>
            <br><br>

            <input type="submit" value="Add Movie">
            <br><br>
        </form>
    </body>
</html>