<!DOCTYPE html>
<html>
    <head>
        <title>myCinemaAdmin | updateTheatre</title>
        <meta charset="utf-8">
    </head>
    
    
    <body>
        <h2>Update Movie</h2>
        
        <h4>Enter title and version of the movie you want to update:</h4>

        <span th:text="${errorMessage} ?: ${errorMessage}" style="color: red;"></span>
        <br th:if="${errorMessage}"><br th:if="${errorMessage}">
        
        <form method="post" action="" th:action="@{/admin/movie/update_getByTitleAndVersion}" th:object="${movieContainer}">
            <input type="text" id="title" placeholder="Title*" th:field=*{title} required>
            <br><br>
            
            <select id="version" name="version" required>
                <option th:value="${null}" th:field="*{version}">Select...</option>
                <span th:each="version : ${movieWrapper.version}">
                    <option th:text="${version}" th:value="${version}" th:field="*{version}"></option>
                </span>
            </select>
            <br><br>

            <button type="submit">Get Movie</button>
            <br><br>
        </form>
    </body>
</html>