<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>myCinema | start</title>
    </head>

    <body>
        <h1>Welcome to myCinema!</h1>

        <p>
            Feel free to try some of these links. Notice that all of them are permitted for an admin only.<br>
            Use <u>user name:</u> florin.schikarski@gmail.com <br>
            and <u>password:</u>  admin <br>
            for login.
        </p><br>

        <section>
            <a href="https://localhost:4001/admin/appUser/addNew">Add new user (role USER or ADMIN)</a><br><br>

            <a href="https://localhost:4001/admin/movie/addNew">Add new movie</a><br><br>

            <a href="https://localhost:4001/admin/movie/update">Update existing movie</a><br><br>

            <a href="https://localhost:4001/admin/theatre/addNew">Add new theatre</a>
        </section>
    </body>
</html>